$white: #fff;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000;
$color-contrast-dark: $black;
$color-contrast-light: $white;
$blue: #00a3e0;
$accent-blue: #0f437f;
$red: #c72027;
$green: #00a690;
$yellow: #ebbc4f;
$blue-50: #e0f4fb;
$blue-100: #b3e3f6;
$blue-200: #80d1f0;
$blue-300: #4dbfe9;
$blue-400: #26b1e5;
$blue-500: $blue;
$blue-600: #009bdc;
$blue-700: #0091d8;
$blue-800: #0088d3;
$blue-900: #0077cb;
$accent-blue-50: #e2e8f0;
$accent-blue-100: #b7c7d9;
$accent-blue-200: #87a1bf;
$accent-blue-300: #577ba5;
$accent-blue-400: #335f92;
$accent-blue-500: $accent-blue;
$accent-blue-600: #0d3d77;
$accent-blue-700: #0b346c;
$accent-blue-800: #082c62;
$accent-blue-900: #041e4f;
$red-50: #f8e4e5;
$red-100: #eebcbe;
$red-200: #e39093;
$red-300: #d86368;
$red-400: #cf4147;
$red-500: $red;
$red-600: #c11c23;
$red-700: #ba181d;
$red-800: #b31317;
$red-900: #a60b0e;
$green-50: #e0f4f2;
$green-100: #b3e4de;
$green-200: #80d3c8;
$green-300: #4dc1b1;
$green-400: #26b3a1;
$green-500: $green;
$green-600: #009e88;
$green-700: #00957d;
$green-800: #008b73;
$green-900: #007b61;
$yellow-50: #fdf7ea;
$yellow-100: #f9ebca;
$yellow-200: #f5dea7;
$yellow-300: #f1d084;
$yellow-400: #eec669;
$yellow-500: $yellow;
$yellow-600: #e9b648;
$yellow-700: #e5ad3f;
$yellow-800: #e2a536;
$yellow-900: #dd9726;
$gray-50: #f0f0f0;
$gray-100: #d9d9d9;
$gray-200: #bfbfbf;
$gray-300: #a5a5a5;
$gray-400: #929292;
$gray-500: #7f7f7f;
$gray-600: #777;
$gray-700: #6c6c6c;
$gray-800: #626262;
$gray-900: #4f4f4f;
